.header {
    box-shadow: rgb(17 17 26 / 10%) 0px 1px 0px;
}
ul.notificationList img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.sectTtl {
    font-size: 22px;
    margin-bottom: 15px;
}
ul.notificationList li {
    margin-bottom: 10px;
	text-align: center;
}
ul.notificationList li a {
    font-size: 14px;
    font-weight: 600;
}
.notificatBlk .notificationBlock {
    padding: 15px;
    border-radius: 8PX;
    HEIGHT: 100%;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
ul.notificationList {
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}
.itemSectionSet {
    box-shadow: 0 0.2rem 1.5rem 0.2rem rgb(0 0 0 / 6%) !important;
    padding: 1.5rem!important;
    height: 100%;
    border-radius: .6rem !important;
    }
.lighter-pink-bg {
    background-color: rgba(213,78,155,.19);
}
.lighter-blue-bg {
    background-color: rgba(99,77,154,.07);
}
.lighter-green-bg {
    background-color: rgba(16,180,131,.19);
}
h4.blkTtlSet {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}
.crp_box a:hover h6, .crp_box a:hover p{
    color: #3c4852 !important;
}
.mt-30{
    margin-top:30px;
}

.testimonialsSet .imgbox {
    min-width: 120px;
    min-height: 120px;
    max-height: 120px;
    max-width: 120px;
    margin: 0 auto;
    border: 1px solid #dee2e6 !important;
    border-radius: 50% !important;
    overflow: hidden !important;
}
.testimonialsSet .imgbox img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.testimonialsSet .slick-slide.slick-current.slick-active{
    transform: scale(1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.rounded-6 {
    border-radius: .6rem !important;
}

.text-center {
    text-align: center !important;
}
.border {
    border: 1px solid #dee2e6 !important;
}
img.quoteImg {
    width: 40px;
    margin: 0 auto;
}
.footer-bottom.br_light {
    border-color: #03b97c !important;
    background: #03b97c !important;
    color: #ffffff !important;
}
footer h4.extream, footer h4.widget_title {
    border-bottom: 2px solid #03b97c !important;
    padding-bottom: 5px;
}
.facebook {
    background-color: #3B5998;
}
.twitter {
    background-color: #00ACED;
}
.instagram {
    background-color: #BC2A8D;
}
.youtube {
    background-color: #C40316;
}
.telegram {
    background-color: #5CACC5;
}
.socila-icon-box {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 4px;
    color: white;
}
.edu_cat_2.cat-2 {
    background: rgba(247, 179, 32,0.1) !important;
}
.edu_cat_2.cat-9 {
    background: rgba(234, 105, 13,0.1) !important;
}
.edu_cat_2.cat-4 {
    background: rgba(154, 222, 69,0.1) !important;
}
.edu_cat_2.cat-6 {
    background: rgba(185, 95, 253,0.1) !important;
}

@media only screen and (max-width:768px){
    .notificatBlk .notificationBlock {
        margin-top: 20px;
    }
}

.bx-shd-wrap {
    box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
}
.otpCenterColl input {
    display: inline-block;
    width: 60px;
    margin: 10px !important;
    padding: 5px !important;
    text-align: center;
    vertical-align: middle;
    box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px !important;
}
h4.otpRecNo {
    color: #03b97c;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}
h4.editPhNo a {
    color: #03b97c;
    font-size: 16px;
    font-weight: 400;
}

.sideBarMe .ed_view_link a {
    display: inline-block !important;
    width: auto;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    height: auto;
}

.ed_author .old_prc, ul.edu_list.right li strong {
    font-size: 14px !important;
}
li.useCouponSet {
    font-size: 12px !important;
    text-align: center;
    padding-bottom: 5px !important;
}

.edu_wraper {
    width: 100%;
    padding: 0rem;
}

.courseDetails .tab-content, .setBoxShd, .sideBarMe .ed_view_box {
    box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
    padding: 15px;
    border-radius: 8px;
}

.subjectSection .crs_info_detail ul li {
    width: 50.333333%;
    flex: 0 0 50.333333%;
}
h2.ed_title.subjectTtl {
    font-size: 22px;
    line-height: 26px;
}

.tabShdBox .nav-link {
    padding: 10px 20px;
    margin-right: 5px;
}
.btnGroup {
    border-left: 1px solid #e5e5e5;
    padding-left: 10px;
    height: 100%;
    padding-top: 45%;
}
.btnGroup button.btn.btnSetFor {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 15px;
    font-size: 14px;
    background: rgba(3, 185, 124,0.1) !important;
    border: 1px solid #03b97c;
    color: #30384e;
    text-align: left;
    font-weight: 600;
}
.btnGroup button.btn.btnSetFor i{
    color: #03b97c;
}
.p-r-0{
    padding-right:0 !important;
}